name: build
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build-linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go
      - uses: azure/setup-helm@v1
        with:
          version: "v3.7.0" # default is latest stable
        id: helm
      - uses: azure/setup-kubectl@v1
        id: install-kubectl
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - uses: actions/cache@v2
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
        id: cache
      - name: Install command dependencies
        run: |
          mkdir -p $HOME/go/bin
          export GOPATH=$HOME/go
          echo "GOPATH=$GOPATH" >> $GITHUB_ENV
          echo "GO_VERSION=$(go version | awk '{ print $3}' | sed 's/^go//')" >> $GITHUB_ENV
          echo "$HOME/go/bin" >> $GITHUB_PATH
          make install-ci install
      - name: Build
        run: make build
      - name: Lint
        run: make lint
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          wait: 90s
      - name: Test
        run: |
          make test TEST_FLAGS="-timeout 3m -tags integration"
      - uses: codecov/codecov-action@v1
      - name: goreleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --snapshot --skip-publish --rm-dist --release-notes .release-notes.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-windows:
    name: Build(Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go
      - uses: azure/setup-helm@v1
        with:
          version: "v3.3.1" # default is latest stable
        id: helm
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          # * Build cache (Mac)
          # * Build cache (Windows)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
        id: cache
      - name: Install command dependencies
        run: |
          echo "GOPATH=$HOME/go" >> $GITHUB_ENV
          echo "GO_VERSION=$(go version | awk '{ print $3}' | sed 's/^go//')" >> $GITHUB_ENV
          echo "$HOME/go/bin" >> $GITHUB_PATH
      - name: Build
        run: make build
      - name: Test
        run: make test
