name: build
on:
  pull_request:
  push:
    branches: master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install command dependencies
      run: |
        mkdir -p $HOME/go/bin
        export GOPATH=$HOME/go
        echo "::set-env name=GOPATH::$HOME/go"
        echo "::set-env name=GO_VERSION::$(go version | awk '{ print $3}' | sed 's/^go//')"
        echo "::add-path::$HOME/go/bin"
        make install-ci install

    - name: Install package dependencies
      run: make get

    - name: Build
      run: make build

    - name: Lint
      run: make lint

    - name: Test
      run: make test

    - name: goreleaser
      uses: goreleaser/goreleaser-action@master
      with:
        args: release --snapshot --skip-publish --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
