name: build
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build-linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Install command dependencies
        run: |
          mkdir -p $HOME/go/bin
          export GOPATH=$HOME/go
          echo "::set-env name=GOPATH::$HOME/go"
          echo "::set-env name=GO_VERSION::$(go version | awk '{ print $3}' | sed 's/^go//')"
          echo "::add-path::$HOME/go/bin"
          make install-ci install

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Test
        run: make test TEST_FLAGS="-tags integration"

      - name: Coverage Report
        run: make publish-coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: goreleaser
        uses: goreleaser/goreleaser-action@master
        with:
          args: release --snapshot --skip-publish --rm-dist --release-notes .release-notes.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    name: Build(Windows)
    runs-on: windows-latest
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Install command dependencies
        run: |
          echo "::set-env name=GOPATH::$HOME/go"
          echo "::set-env name=GO_VERSION::$(go version | awk '{ print $3}' | sed 's/^go//')"
          echo "::add-path::$HOME/go/bin"

      - name: Build
        run: make build

      - name: Test
        run: make test TEST_FLAGS="-tags integration"
