name: Release
on:
  push:
    branches:
      - "!*"
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    name: goreleaser
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
        id: go
      - uses: actions/checkout@v2
      - name: Install package dependencies
        run: |
          echo "GO_VERSION=$(go version | awk '{ print $3}' | sed 's/^go//')" >> $GITHUB_ENV
          make get
      - name: Release via goreleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --release-notes .release-notes.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
